name: webapp code deploy using githubactions
on:
  push:
    branches:
      - main
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      # Repo checkout
      - name: Checkout code
        uses: actions/checkout@v3

      # Node install karega
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      # Install dependencies
      - name: Install dependencies
        run: npm install
      # Build the application
      - name: Build app
        run: npm run build --if-present
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: test-webapp-linux-12
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
